index.html
{
  "name": "ListingAI \u2014 v6.2 (Supabase Async Queue)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listing-analyse-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f9dd23f3-4273-4210-8914-2293077c5033",
      "name": "Webhook \u2014 Analyse",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -368,
        112
      ],
      "webhookId": "listing-analyse-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "productName",
              "value": "={{ $json.body.productName }}",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "category",
              "value": "={{ $json.body.category }}",
              "type": "string"
            },
            {
              "id": "e2b",
              "name": "subcategory",
              "value": "={{ $json.body.subcategory || '' }}",
              "type": "string"
            },
            {
              "id": "e4",
              "name": "features",
              "value": "={{ $json.body.features || '' }}",
              "type": "string"
            },
            {
              "id": "e6",
              "name": "language",
              "value": "={{ $json.body.language || 'en' }}",
              "type": "string"
            },
            {
              "id": "e7",
              "name": "userEmail",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "e8",
              "name": "driveFolderId",
              "value": "={{ $json.body.driveFolderId }}",
              "type": "string"
            },
            {
              "id": "e9",
              "name": "runId",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}",
              "type": "string"
            },
            {
              "id": "e10",
              "name": "imageBase64",
              "value": "={{ $json.body.imageBase64 }}",
              "type": "string"
            },
            {
              "id": "e11",
              "name": "imageMimeType",
              "value": "={{ $json.body.imageMimeType || 'image/jpeg' }}",
              "type": "string"
            },
            {
              "id": "e12",
              "name": "imageName",
              "value": "={{ $json.body.imageName || 'product.jpg' }}",
              "type": "string"
            },
            {
              "id": "e16",
              "name": "avatarId",
              "value": "={{ $json.body.avatarId || 'dynamic' }}",
              "type": "string"
            },
            {
              "id": "e17",
              "name": "avatarCountry",
              "value": "={{ $json.body.avatarCountry || 'global' }}",
              "type": "string"
            },
            {
              "id": "e18",
              "name": "locationVariant",
              "value": "={{ $json.body.locationVariant || 'indoor home hall' }}",
              "type": "string"
            },
            {
              "id": "e19",
              "name": "mimeType",
              "value": "={{ $json.body.imageMimeType || 'image/jpeg' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c84cab9b-f865-465b-8cca-69e5305bf9f9",
      "name": "Extract Inputs \u2014 Phase1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL      = 'https://foogdpgrkiawdnfvhxbn.supabase.co';\nconst SUPABASE_ANON_KEY = 'sb_publishable_TrLnz3U1EjrLxZLlKsqqJg_zzxr8C8B';\n\nconst src = items[0].json;\nconst jobId = 'anlz-' + Date.now() + '-' + Math.random().toString(36).slice(2, 7);\n\ntry {\n  await this.helpers.request.call(this, {\n    method: 'POST',\n    url: SUPABASE_URL + '/rest/v1/job_results',\n    headers: {\n      'apikey': SUPABASE_ANON_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_ANON_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: JSON.stringify({\n      job_id:     jobId,\n      status:     'processing',\n      mode:       'analyse',\n      email:      src.userEmail || src.email || '',\n      created_at: new Date().toISOString(),\n      updated_at: new Date().toISOString()\n    }),\n    json: false\n  });\n} catch(e) { console.log('Supabase insert warn:', e.message); }\n\nreturn [{ json: { ...src, jobId } }];"
      },
      "id": "f265e30c-ccd3-4879-9b66-c3ffafcc1738",
      "name": "Generate JobId \u2014 Phase1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ jobId: $json.jobId }) }}",
        "options": {}
      },
      "id": "7c94f63b-80bd-44cc-9dca-e0ab621cd926",
      "name": "Respond Early \u2014 Phase1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        272,
        -144
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json;\nconst b64      = body.imageBase64;\nconst mimeType = body.imageMimeType || 'image/jpeg';\nconst fileName = body.imageName     || 'product.jpg';\nif (!b64) throw new Error('No imageBase64 found in webhook body');\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(b64, 'base64'), fileName, mimeType\n);\nreturn [{ json: { ...body }, binary: { image: binaryData } }];"
      },
      "id": "cdd67b40-7c21-4b4d-b708-06fe6f137c6c",
      "name": "Prepare Binary \u2014 Phase1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        112
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "image",
        "name": "={{ $('Extract Inputs \u2014 Phase1').item.json.productName.replace(/[^a-zA-Z0-9]/g,'-') + '-original-' + $('Extract Inputs \u2014 Phase1').item.json.runId + '.jpg' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Extract Inputs \u2014 Phase1').item.json.driveFolderId }}"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "0c7c2b38-c6c6-4a5f-8bb4-1c524eded47d",
      "name": "Upload Original \u2014 Phase1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        112
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lkmD9weSI5xp2D6m",
          "name": "Vinmediaai-Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ 'listing-' + $('Extract Inputs \u2014 Phase1').item.json.productName.replace(/[^a-zA-Z0-9]/g,'-').substring(0,30) + '-' + $('Extract Inputs \u2014 Phase1').item.json.runId }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dOWQloKxJFNTU0PF2WfjF9AL0EPu-VA_",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "0380a3f4-3598-4266-b138-375e4b4c3077",
      "name": "Create Folder \u2014 Phase1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lkmD9weSI5xp2D6m",
          "name": "Vinmediaai-Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst SHEET_ID = '17iyN3ZDFdaDKUTQWhkIfUGs2Dwy4cn7pIRj5rqcMLNg';\nconst API_KEY  = 'AIzaSyAHCBqWPZH6kXrYQnbwOjfCcDUjlVGtZC8';\nconst BASE_URL = `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values`;\n\nconst src = $('Extract Inputs \u2014 Phase1').item.json;\n\nasync function fetchTab(tabName) {\n  const url = `${BASE_URL}/${encodeURIComponent(tabName)}?majorDimension=ROWS&key=${API_KEY}`;\n  const resp = await this.helpers.request.call(this, {\n    method: 'GET', url,\n    headers: { 'Accept': 'application/json' },\n    json: false\n  });\n  const parsed = typeof resp === 'string' ? JSON.parse(resp) : resp;\n  const rows = parsed.values || [];\n  if (rows.length < 2) return [];\n  const headers = rows[0].map(h => h.trim());\n  return rows.slice(1).map(row => {\n    const obj = {};\n    headers.forEach((h, i) => { obj[h] = (row[i] || '').toString().trim(); });\n    return obj;\n  });\n}\n\nconst avatarRows = await fetchTab.call(this, 'avatars');\n\nconst avatarId  = (src.avatarId || '').trim();\nconst avatarRow = avatarRows.find(r => r.avatar_id === avatarId) || {};\n\nlet avatarDesc = '';\nlet avatarCountry = 'global';\n\nif (avatarId && avatarId !== 'dynamic' && avatarRow.avatar_id) {\n  avatarDesc = [\n    avatarRow.description || '',\n    avatarRow.skin_tone   ? `skin tone: ${avatarRow.skin_tone}` : '',\n    avatarRow.hair        ? `hair: ${avatarRow.hair}` : '',\n    avatarRow.expression  ? `expression: ${avatarRow.expression}` : '',\n    avatarRow.eye_color   ? `eyes: ${avatarRow.eye_color}` : '',\n    avatarRow.face_shape  ? `face shape: ${avatarRow.face_shape}` : '',\n    avatarRow.age         ? `age: ${avatarRow.age}` : '',\n    avatarRow.gender      ? `gender: ${avatarRow.gender}` : ''\n  ].filter(Boolean).join(', ');\n  avatarCountry = (avatarRow.country || 'global').toLowerCase();\n} else {\n  avatarCountry = (src.avatarCountry || 'global').toLowerCase();\n  const dynamicDescriptors = {\n    india:'an Indian person', american:'an American person', chinese:'a Chinese person',\n    japanese:'a Japanese person', australian:'an Australian person', european:'a European person',\n    arabic:'an Arabic person', korean:'a Korean person', brazilian:'a Brazilian person',\n    african:'an African person', global:'a person'\n  };\n  avatarDesc = dynamicDescriptors[avatarCountry] || 'a person';\n}\n\nconst locationVariant = (src.locationVariant || 'indoor home hall').toLowerCase();\n\nconst countryLocationPrefix = {\n  india:    { studio:'professional Indian studio', 'indoor home kitchen':'Indian home kitchen', 'indoor home hall':'Indian living room', 'indoor home bedroom':'Indian bedroom', 'indoor balcony':'Indian home balcony', 'outdoor home garden':'Indian home garden', 'outdoor home parking':'Indian residential parking', coastal:'Indian coastal beach', 'busy city':'busy Indian city street', airport:'Indian international airport', 'metro station':'Indian metro station', bathroom:'Indian bathroom', theater:'Indian cinema hall', mall:'Indian shopping mall', park:'Indian public park' },\n  american: { studio:'American photography studio', 'indoor home kitchen':'American home kitchen', 'indoor home hall':'American living room', 'indoor home bedroom':'American bedroom', 'indoor balcony':'American apartment balcony', 'outdoor home garden':'American suburban garden', 'outdoor home parking':'American driveway', coastal:'American coastal beach', 'busy city':'busy American city street', airport:'US international airport', 'metro station':'American subway station', bathroom:'American bathroom', theater:'American movie theater', mall:'American shopping mall', park:'American city park' },\n  european: { studio:'European photography studio', 'indoor home kitchen':'European home kitchen', 'indoor home hall':'European living room', 'indoor home bedroom':'European bedroom', 'indoor balcony':'European apartment balcony', 'outdoor home garden':'European garden', 'outdoor home parking':'European street parking', coastal:'European Mediterranean coast', 'busy city':'busy European city street', airport:'European international airport', 'metro station':'European metro station', bathroom:'European bathroom', theater:'European theater', mall:'European shopping centre', park:'European public park' },\n  japanese: { studio:'Japanese photography studio', 'indoor home kitchen':'Japanese home kitchen', 'indoor home hall':'Japanese living room', 'indoor home bedroom':'Japanese bedroom', 'indoor balcony':'Japanese apartment balcony', 'outdoor home garden':'Japanese zen garden', 'outdoor home parking':'Japanese residential parking', coastal:'Japanese coastal scenery', 'busy city':'busy Tokyo city street', airport:'Japanese international airport', 'metro station':'Tokyo metro station', bathroom:'Japanese bathroom', theater:'Japanese cinema', mall:'Japanese shopping mall', park:'Japanese park with cherry blossoms' },\n  korean:   { studio:'Korean photography studio', 'indoor home kitchen':'Korean home kitchen', 'indoor home hall':'Korean modern living room', 'indoor home bedroom':'Korean bedroom', 'indoor balcony':'Korean apartment balcony', 'outdoor home garden':'Korean home garden', 'outdoor home parking':'Korean apartment parking', coastal:'Korean coastal scenery', 'busy city':'busy Seoul city street', airport:'Incheon international airport', 'metro station':'Seoul metro station', bathroom:'Korean bathroom', theater:'Korean cinema', mall:'Korean shopping mall', park:'Korean city park' },\n  global:   { studio:'professional photography studio', 'indoor home kitchen':'modern home kitchen', 'indoor home hall':'modern living room', 'indoor home bedroom':'modern bedroom', 'indoor balcony':'apartment balcony', 'outdoor home garden':'beautiful garden', 'outdoor home parking':'residential parking area', coastal:'coastal beach setting', 'busy city':'busy city street', airport:'international airport', 'metro station':'metro station', bathroom:'modern bathroom', theater:'movie theater', mall:'shopping mall', park:'city park' }\n};\n\nconst defaultLocations = countryLocationPrefix['global'];\nconst countryLocs = countryLocationPrefix[avatarCountry] || defaultLocations;\nconst resolvedLocation = countryLocs[locationVariant] || countryLocs['indoor home hall'];\n\nconst lightingMap = {\n  studio:'professional studio lighting, clean white background',\n  'indoor home kitchen':'warm natural indoor lighting',\n  'indoor home hall':'soft ambient indoor lighting',\n  'indoor home bedroom':'warm cozy bedroom lighting',\n  'indoor balcony':'natural daylight with soft shadows',\n  'outdoor home garden':'bright natural sunlight, green surroundings',\n  'outdoor home parking':'outdoor daylight, residential setting',\n  coastal:'golden hour coastal lighting, sea breeze atmosphere',\n  'busy city':'vibrant urban lighting, city atmosphere',\n  airport:'bright modern airport terminal lighting',\n  'metro station':'urban metro station lighting',\n  bathroom:'clean bright bathroom lighting',\n  theater:'dramatic cinema/theater lighting',\n  mall:'bright modern shopping mall lighting',\n  park:'natural park daylight, green environment'\n};\nconst lighting = lightingMap[locationVariant] || 'natural soft light';\n\nreturn [{\n  json: {\n    ...src,\n    sheetAvatarDesc:    avatarDesc,\n    sheetAvatarCountry: avatarCountry,\n    sheetLocation:      resolvedLocation,\n    sheetLighting:      lighting,\n    sheetLocationVariant: locationVariant,\n    resolvedAvatarName: avatarRow.avatar_name || avatarId || 'Dynamic'\n  }\n}];\n"
      },
      "id": "6c6df9ae-0ed1-4170-ae58-1aaefc132d33",
      "name": "Read Sheet Config \u2014 Phase1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst src = items[0].json;\nconst name   = src.productName || 'product';\nconst cat    = src.category    || '';\nconst subcat = src.subcategory || '';\nconst feat   = src.features    || '';\nconst catFull = subcat ? `${cat} - ${subcat}` : cat;\n\nconst prompt = `You are a professional e-commerce product analyst. Study this product image carefully.\n\nReturn ONLY a valid JSON object \u2014 no markdown, no explanation, no extra text.\n\nSTRICT RULES:\n- productDescription: describe EXACTLY what you see \u2014 shape, material, finish, form factor. Max 12 words. Use \"the product\" not the brand name.\n- primaryColor: dominant colour first, then accent if present.\n- productType: the physical object category. Max 6 words.\n- productMood: choose ONE: premium | playful | functional | elegant | sporty | clinical | natural | festive\n- shootSurface: white | marble | wood | acrylic | slate | fabric\n- infographicCallouts: extract 4 real visible features. If features list below is provided, use those instead.\n- lifestyleContext1: one vivid scene of a person using this product naturally (10 words max)\n- lifestyleContext2: second different scene/angle (10 words max)\n- lifestyleContext3: close-up detail shot description (10 words max)\n- lifestyleContext4: gifting or unboxing moment (10 words max)\n\nProduct name: ${name}\nCategory: ${catFull}\nFeatures provided: ${feat || 'none \u2014 extract from image'}\n\nReturn EXACTLY this JSON and nothing else:\n{\n  \"productDescription\": \"concise visual description\",\n  \"primaryColor\": \"dominant + accent colour\",\n  \"productType\": \"what the physical object is\",\n  \"productMood\": \"one word\",\n  \"shootSurface\": \"one word\",\n  \"infographicCallouts\": [\"feature1\",\"feature2\",\"feature3\",\"feature4\"],\n  \"lifestyleContext1\": \"scene 1\",\n  \"lifestyleContext2\": \"scene 2\",\n  \"lifestyleContext3\": \"close-up scene\",\n  \"lifestyleContext4\": \"gifting scene\"\n}`;\n\nreturn [{\n  json: {\n    ...src,\n    geminiRequestBody: {\n      contents: [{ role: 'user', parts: [\n        { inline_data: { mime_type: src.mimeType || 'image/jpeg', data: src.imageBase64 } },\n        { text: prompt }\n      ]}],\n      generationConfig: { temperature: 0.1, maxOutputTokens: 500 }\n    }\n  }\n}];\n"
      },
      "id": "e5576222-6129-449d-bab7-19102f66d888",
      "name": "Build Gemini Payload \u2014 Phase1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://asia-south1-aiplatform.googleapis.com/v1/projects/vinmedia-amazonlisting/locations/asia-south1/publishers/google/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiRequestBody }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "2f19b459-c5f8-48f4-aaef-ebf38da09656",
      "name": "Gemini Vision \u2014 Phase1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        112
      ],
      "credentials": {
        "googleApi": {
          "id": "Cl6lSmyjRIoJGYPh",
          "name": "Google Service Account account"
        },
        "googleOAuth2Api": {
          "id": "D36j7dU8gbhmxwqu",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = items[0].json;\nconst src = $('Extract Inputs \u2014 Phase1').item.json;\n\nlet g = {};\ntry {\n  const text = raw.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  if (!text) throw new Error('Empty Gemini response');\n  let cleaned = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  const start = cleaned.indexOf('{');\n  const end   = cleaned.lastIndexOf('}');\n  if (start === -1) throw new Error('No JSON object in response');\n  let jsonStr = cleaned.substring(start, end + 1);\n  const opens  = (jsonStr.match(/{/g) || []).length;\n  const closes = (jsonStr.match(/}/g) || []).length;\n  if (opens > closes) jsonStr += '}'.repeat(opens - closes);\n  g = JSON.parse(jsonStr);\n} catch(e) {\n  console.log('Gemini parse failed, using fallback:', e.message);\n  g = {};\n}\n\nconst feat = (src.features || '').split(/\\n|,/).map(f => f.trim()).filter(Boolean);\n\nconst productDesc  = (g.productDescription || '').trim() || 'the product';\nconst primaryColor = (g.primaryColor       || '').trim() || '';\nconst productType  = (g.productType        || '').trim() || 'the product';\nconst productMood  = (g.productMood        || '').trim().toLowerCase() || 'functional';\nconst shootSurface = (g.shootSurface       || '').trim().toLowerCase() || 'white';\n\nconst geminiLifestyle1 = (g.lifestyleContext1 || '').trim();\nconst geminiLifestyle2 = (g.lifestyleContext2 || '').trim();\nconst geminiLifestyle3 = (g.lifestyleContext3 || '').trim();\nconst geminiLifestyle4 = (g.lifestyleContext4 || '').trim();\n\nlet callouts = [];\nif (feat.length >= 2) {\n  callouts = feat.slice(0, 4);\n} else if (Array.isArray(g.infographicCallouts) && g.infographicCallouts.filter(Boolean).length >= 2) {\n  callouts = g.infographicCallouts.map(c => String(c).trim()).filter(Boolean);\n}\nwhile (callouts.length < 4) callouts.push('Premium quality');\ncallouts = callouts.slice(0, 4);\n\nconst avatarDesc = src.sheetAvatarDesc || 'a person';\nconst location   = src.sheetLocation   || 'modern interior';\nconst lighting   = src.sheetLighting   || 'natural soft light';\n\nconst lifestyle1 = geminiLifestyle1 || 'naturally using the product';\nconst lifestyle2 = geminiLifestyle2 || 'using the product from a different angle';\nconst lifestyle3 = geminiLifestyle3 || 'close-up detail of the product';\nconst lifestyle4 = geminiLifestyle4 || 'gifting or unboxing the product';\n\nconst colorNote = primaryColor ? `, ${primaryColor}` : '';\n\nconst moodLighting = {\n  premium:'dramatic side lighting, deep shadows, luxury feel',\n  playful:'bright even lighting, vibrant colours, cheerful',\n  functional:'clean flat lighting, clear details, no distractions',\n  elegant:'soft diffused light, subtle gradient, refined',\n  sporty:'high-contrast dynamic lighting, sharp shadows',\n  clinical:'bright flat lighting, pure white, sterile clean',\n  natural:'soft warm daylight, gentle shadows, organic',\n  festive:'warm golden light, rich tones, celebratory'\n};\nconst moodLight = moodLighting[productMood] || lighting;\n\nconst heroPrompt =\n  `${productDesc}${colorNote}, on pure ${shootSurface} background, ` +\n  `${moodLight}, centered, fills 85% of frame, ` +\n  `50mm lens, 1000x1000px, photorealistic product photo, no shadows on background`;\n\nconst calloutsText = callouts.join(' \u00b7 ');\nconst infographicPrompt =\n  `${productDesc}${colorNote} placed on right third of frame, ` +\n  `left two-thirds: clean vertical feature list \u2014 ${calloutsText} \u2014 ` +\n  `clean minimal bold sans-serif text, soft gradient background matching product mood, ` +\n  `no connector lines, no arrows, 50mm lens, 1000x1000px`;\n\nconst lifestylePrompt =\n  `${avatarDesc}, ${lifestyle1}, ${location}, ${moodLight}, ` +\n  `naturally holding and using ${productType}${colorNote}, ` +\n  `product clearly visible, candid authentic moment, 50mm lens, 1000x1000px, photorealistic`;\n\nconst lifestylePrompt2 =\n  `${avatarDesc}, ${lifestyle2}, ${location}, ${moodLight}, ` +\n  `${productType}${colorNote} featured prominently, ` +\n  `slightly different angle or activity, natural and relaxed, 50mm lens, 1000x1000px, photorealistic`;\n\nconst lifestylePrompt3 =\n  `Extreme close-up detail shot of ${productDesc}${colorNote}, ` +\n  `${lifestyle3}, ${moodLight}, ` +\n  `texture and material quality in focus, macro lens feel, 50mm lens, 1000x1000px, photorealistic`;\n\nconst lifestylePrompt4 =\n  `${productType}${colorNote} in a ${productMood} ${lifestyle4} setting, ` +\n  `${avatarDesc} involved, ${location}, ${moodLight}, ` +\n  `gift-ready presentation, warm and inviting, 50mm lens, 1000x1000px, photorealistic`;\n\nconst result = {\n  productName:         src.productName,\n  category:            src.category,\n  subcategory:         src.subcategory || '',\n  language:            src.language,\n  userEmail:           src.userEmail,\n  driveFolderId:       src.driveFolderId,\n  outputFolderId:      $('Create Folder \u2014 Phase1').item.json.id,\n  runId:               src.runId,\n  jobId:               $('Generate JobId \u2014 Phase1').item.json.jobId || src.jobId || '',\n  avatarId:            src.avatarId || '',\n  avatarCountry:       src.avatarCountry || 'global',\n  locationVariant:     src.locationVariant || 'indoor home hall',\n  sheetAvatarDesc:     avatarDesc,\n  sheetLocation:       location,\n  sheetLighting:       lighting,\n  heroPrompt,\n  infographicPrompt,\n  lifestylePrompt,\n  lifestylePrompt2,\n  lifestylePrompt3,\n  lifestylePrompt4,\n  infographicCallouts: callouts,\n  productDescription:  productDesc,\n  primaryColor,\n  productType,\n  productMood,\n  shootSurface,\n  analysis: { heroPrompt, infographicPrompt, lifestylePrompt, lifestylePrompt2, lifestylePrompt3, lifestylePrompt4, infographicCallouts: callouts }\n};\n\nreturn [{ json: result }];\n"
      },
      "id": "91368e60-80f9-4f87-ab93-aa46e69cfd42",
      "name": "Parse & Return Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL      = 'https://foogdpgrkiawdnfvhxbn.supabase.co';\nconst SUPABASE_ANON_KEY = 'sb_publishable_TrLnz3U1EjrLxZLlKsqqJg_zzxr8C8B';\n\nconst src   = items[0].json;\nconst jobId = src.jobId || $('Generate JobId \u2014 Phase1').item.json.jobId || '';\n\nconst resultJson = {\n  outputFolderId:      src.outputFolderId      || '',\n  heroPrompt:          src.heroPrompt          || '',\n  infographicPrompt:   src.infographicPrompt   || '',\n  lifestylePrompt:     src.lifestylePrompt     || '',\n  lifestylePrompt2:    src.lifestylePrompt2    || '',\n  lifestylePrompt3:    src.lifestylePrompt3    || '',\n  lifestylePrompt4:    src.lifestylePrompt4    || '',\n  infographicCallouts: src.infographicCallouts || [],\n  sheetAvatarDesc:     src.sheetAvatarDesc     || '',\n  sheetLocation:       src.sheetLocation       || '',\n  sheetLighting:       src.sheetLighting       || '',\n  productDescription:  src.productDescription  || '',\n  primaryColor:        src.primaryColor        || '',\n  productType:         src.productType         || '',\n  productMood:         src.productMood         || ''\n};\n\nif (jobId) {\n  try {\n    await this.helpers.request.call(this, {\n      method: 'PATCH',\n      url: SUPABASE_URL + '/rest/v1/job_results?job_id=eq.' + encodeURIComponent(jobId),\n      headers: {\n        'apikey': SUPABASE_ANON_KEY,\n        'Authorization': 'Bearer ' + SUPABASE_ANON_KEY,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({\n        status:      'analyse_done',\n        result_json: resultJson,\n        updated_at:  new Date().toISOString()\n      }),\n      json: false\n    });\n  } catch(e) { console.log('Supabase update warn:', e.message); }\n}\n\nreturn [{ json: src }];"
      },
      "id": "b4792a1e-d059-4916-9002-9f389ae164ed",
      "name": "Write Analyse Result to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        112
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listing-queue-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4b0c5db-19f8-4345-9003-19032034f923",
      "name": "Webhook \u2014 Generate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        512
      ],
      "webhookId": "listing-queue-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "productName",
              "value": "={{ $json.body.productName }}",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "category",
              "value": "={{ $json.body.category }}",
              "type": "string"
            },
            {
              "id": "g2b",
              "name": "subcategory",
              "value": "={{ $json.body.subcategory || '' }}",
              "type": "string"
            },
            {
              "id": "g4",
              "name": "features",
              "value": "={{ $json.body.features || '' }}",
              "type": "string"
            },
            {
              "id": "g5",
              "name": "language",
              "value": "={{ $json.body.language || 'en' }}",
              "type": "string"
            },
            {
              "id": "g6",
              "name": "userEmail",
              "value": "={{ $json.body.email || $json.body.userEmail }}",
              "type": "string"
            },
            {
              "id": "g7",
              "name": "driveFolderId",
              "value": "={{ $json.body.driveFolderId }}",
              "type": "string"
            },
            {
              "id": "g8",
              "name": "imageBase64",
              "value": "={{ $json.body.imageBase64 }}",
              "type": "string"
            },
            {
              "id": "g9",
              "name": "imageMimeType",
              "value": "={{ $json.body.imageMimeType || 'image/jpeg' }}",
              "type": "string"
            },
            {
              "id": "g10",
              "name": "imageName",
              "value": "={{ $json.body.imageName || 'product.jpg' }}",
              "type": "string"
            },
            {
              "id": "g11",
              "name": "selectedPrompts",
              "value": "={{ JSON.stringify($json.body.selectedPrompts || ['hero','infographic','lifestyle']) }}",
              "type": "array"
            },
            {
              "id": "g12",
              "name": "heroPrompt",
              "value": "={{ $json.body.heroPrompt || '' }}",
              "type": "string"
            },
            {
              "id": "g13",
              "name": "infographicPrompt",
              "value": "={{ $json.body.infographicPrompt || '' }}",
              "type": "string"
            },
            {
              "id": "g14",
              "name": "lifestylePrompt",
              "value": "={{ $json.body.lifestylePrompt || '' }}",
              "type": "string"
            },
            {
              "id": "g15",
              "name": "dimensionPrompt",
              "value": "={{ $json.body.dimensionPrompt || '' }}",
              "type": "string"
            },
            {
              "id": "g16",
              "name": "genericPrompt",
              "value": "={{ $json.body.genericPrompt || '' }}",
              "type": "string"
            },
            {
              "id": "g17",
              "name": "outputFolderId",
              "value": "={{ $json.body.outputFolderId || '' }}",
              "type": "string"
            },
            {
              "id": "g18",
              "name": "runId",
              "value": "={{ $json.body.runId || $now.toFormat('yyyyMMdd-HHmmss') }}",
              "type": "string"
            },
            {
              "id": "g19",
              "name": "infographicCallouts",
              "value": "={{ $json.body.infographicCallouts || ['Feature 1','Feature 2','Feature 3','Feature 4'] }}",
              "type": "array"
            },
            {
              "id": "e22",
              "name": "selectedPromptsJson",
              "value": "={{ $json.body.selectedPromptsJson || '' }}",
              "type": "string"
            },
            {
              "id": "g24",
              "name": "avatarId",
              "value": "={{ $json.body.avatarId || 'dynamic' }}",
              "type": "string"
            },
            {
              "id": "g25",
              "name": "avatarCountry",
              "value": "={{ $json.body.avatarCountry || 'global' }}",
              "type": "string"
            },
            {
              "id": "g26",
              "name": "locationVariant",
              "value": "={{ $json.body.locationVariant || 'indoor home hall' }}",
              "type": "string"
            },
            {
              "id": "g27",
              "name": "lifestylePrompt2",
              "value": "={{ $json.body.lifestylePrompt2 || '' }}",
              "type": "string"
            },
            {
              "id": "g28",
              "name": "lifestylePrompt3",
              "value": "={{ $json.body.lifestylePrompt3 || '' }}",
              "type": "string"
            },
            {
              "id": "g29",
              "name": "lifestylePrompt4",
              "value": "={{ $json.body.lifestylePrompt4 || '' }}",
              "type": "string"
            },
            {
              "id": "g35",
              "name": "sheetAvatarDesc",
              "value": "={{ $json.body.sheetAvatarDesc || '' }}",
              "type": "string"
            },
            {
              "id": "g36",
              "name": "sheetLocation",
              "value": "={{ $json.body.sheetLocation || '' }}",
              "type": "string"
            },
            {
              "id": "g37",
              "name": "sheetLighting",
              "value": "={{ $json.body.sheetLighting || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c9e554e1-e0cc-4e21-8bac-7076066de411",
      "name": "Extract Inputs \u2014 Phase2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL      = 'https://foogdpgrkiawdnfvhxbn.supabase.co';\nconst SUPABASE_ANON_KEY = 'sb_publishable_TrLnz3U1EjrLxZLlKsqqJg_zzxr8C8B';\n\nconst src   = items[0].json;\nconst jobId = 'gen-' + Date.now() + '-' + Math.random().toString(36).slice(2, 7);\n\ntry {\n  await this.helpers.request.call(this, {\n    method: 'POST',\n    url: SUPABASE_URL + '/rest/v1/job_results',\n    headers: {\n      'apikey': SUPABASE_ANON_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_ANON_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: JSON.stringify({\n      job_id:     jobId,\n      status:     'processing',\n      mode:       'generate',\n      email:      src.userEmail || src.email || '',\n      created_at: new Date().toISOString(),\n      updated_at: new Date().toISOString()\n    }),\n    json: false\n  });\n} catch(e) { console.log('Supabase insert warn:', e.message); }\n\nreturn [{ json: { ...src, jobId } }];"
      },
      "id": "0de36bf7-7daf-4c2e-be96-771f27db12ae",
      "name": "Generate JobId \u2014 Phase2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        592
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ jobId: $json.jobId }) }}",
        "options": {}
      },
      "id": "26c4c467-bcb4-4594-85b9-984907b594e9",
      "name": "Respond Early \u2014 Phase2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst src = items[0].json;\nconst folderId = src.outputFolderId;\n\nfunction parseSelected(val) {\n  if (!val) return null;\n  if (Array.isArray(val) && val.length > 0) return val;\n  if (typeof val === 'string') {\n    const t = val.trim();\n    if (!t || t === 'null') return null;\n    if (t.startsWith('[')) { try { const a = JSON.parse(t); if (Array.isArray(a) && a.length > 0) return a; } catch(e){} }\n    const parts = t.split(/[,\\s]+/).map(s => s.replace(/[\"[\\]\\s]/g, '').trim()).filter(Boolean);\n    if (parts.length > 0) return parts;\n  }\n  return null;\n}\n\nlet selected = parseSelected(src.selectedPromptsJson)\n  || parseSelected(src.selectedPrompts)\n  || ['hero', 'infographic', 'lifestyle'];\n\nconst callouts = (() => {\n  let c = src.infographicCallouts || ['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'];\n  if (typeof c === 'string') {\n    const t = c.trim();\n    if (t.startsWith('[')) { try { c = JSON.parse(t); } catch(e) {} }\n    else { c = t.split(',').map(s => s.trim()).filter(Boolean); }\n  }\n  return Array.isArray(c) && c.length >= 4 ? c : ['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'];\n})();\n\nconst pname        = src.productName || 'product';\nconst calloutsText = callouts.filter(c => c && !c.startsWith('Feature')).join(', ') || callouts.join(', ');\nconst avatarDesc   = src.sheetAvatarDesc || 'a person';\nconst location     = src.sheetLocation   || 'modern interior';\nconst lighting     = src.sheetLighting   || 'natural soft light';\n\nconst heroPrompt = (src.heroPrompt || '').trim() ||\n  `the product on pure white background, studio lighting, centered, fills 85% of frame, 50mm lens, 1000px, photorealistic product photo`;\n\nconst infographicPrompt = (src.infographicPrompt || '').trim() ||\n  `the product on right side of frame, left side: ${calloutsText} \u2014 bold minimal text, soft gradient background, no connector lines, 50mm lens, 1000px`;\n\nconst lifestylePrompt = (src.lifestylePrompt || '').trim() ||\n  `${avatarDesc}, naturally using the product, ${location}, ${lighting}, product clearly visible, candid moment, 50mm lens, 1000px, photorealistic`;\n\nconst lifestylePrompt2 = (src.lifestylePrompt2 || '').trim() ||\n  `${avatarDesc}, using the product at different angle, ${location}, ${lighting}, 50mm lens, 1000px, photorealistic`;\n\nconst lifestylePrompt3 = (src.lifestylePrompt3 || '').trim() ||\n  `extreme close-up detail shot of the product, ${location}, ${lighting}, macro lens feel, 50mm lens, 1000px, photorealistic`;\n\nconst lifestylePrompt4 = (src.lifestylePrompt4 || '').trim() ||\n  `product in gifting or unboxing setting, ${avatarDesc} involved, ${location}, ${lighting}, gift-ready presentation, 50mm lens, 1000px, photorealistic`;\n\nconst dimensionPrompt = (src.dimensionPrompt || '').trim() ||\n  `${pname} dimension diagram on pure white background, measurement lines, length height width labeled, technical illustration, centered, 1000px`;\n\nconst genericPrompt = (src.genericPrompt || '').trim() ||\n  `Creative product photo of ${pname}, ${lighting}, 50mm lens, 1000px`;\n\nconst cleanName = (src.productName || 'product').replace(/[^a-zA-Z0-9\\s]/g, '').trim().replace(/\\s+/g, '-').substring(0, 30);\n\nconst queue = [];\nif (selected.includes('hero'))        queue.push({ type:'hero',        prompt:heroPrompt,        fileName:cleanName+'-Main.jpeg' });\nif (selected.includes('infographic')) queue.push({ type:'infographic', prompt:infographicPrompt, fileName:cleanName+'-Infographic.jpeg' });\nif (selected.includes('lifestyle'))   queue.push({ type:'lifestyle',   prompt:lifestylePrompt,   fileName:cleanName+'-Lifestyle1.jpeg' });\nif (selected.includes('lifestyle2'))  queue.push({ type:'lifestyle2',  prompt:lifestylePrompt2,  fileName:cleanName+'-Lifestyle2.jpeg' });\nif (selected.includes('lifestyle3'))  queue.push({ type:'lifestyle3',  prompt:lifestylePrompt3,  fileName:cleanName+'-Lifestyle3.jpeg' });\nif (selected.includes('lifestyle4'))  queue.push({ type:'lifestyle4',  prompt:lifestylePrompt4,  fileName:cleanName+'-Lifestyle4.jpeg' });\nif (selected.includes('dimensions'))  queue.push({ type:'dimensions',  prompt:dimensionPrompt,   fileName:cleanName+'-Dimension.jpeg' });\nif (selected.includes('generic'))     queue.push({ type:'generic',     prompt:genericPrompt,     fileName:cleanName+'-Custom.jpeg' });\nif (queue.length === 0) queue.push({ type:'hero', prompt:heroPrompt, fileName:cleanName+'-Main.jpeg' });\n\nreturn [{ json: {\n  ...src,\n  mimeType:        src.imageMimeType || 'image/jpeg',\n  folderId,\n  queue,\n  currentIndex:    0,\n  currentType:     queue[0]?.type     || '',\n  currentPrompt:   queue[0]?.prompt   || '',\n  currentFileName: queue[0]?.fileName || '',\n  generatedLinks:  [],\n  totalImages:     queue.length\n}}];\n"
      },
      "id": "441bfb7a-f68c-401d-9618-8eac17c5a4e9",
      "name": "Build Generation Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cq1",
              "leftValue": "={{ $json.currentIndex < $json.queue.length }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f555b46-1f9c-4e65-be1c-e3f49eeae86a",
      "name": "More Images to Generate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        832,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = items[0].json;\nconst body = JSON.stringify({\n  contents: [{\n    role: 'user',\n    parts: [\n      { inline_data: { mime_type: src.mimeType || 'image/jpeg', data: src.imageBase64 } },\n      { text: src.currentPrompt || '' }\n    ]\n  }],\n  generationConfig: { responseModalities: ['TEXT','IMAGE'], temperature: 0.35 }\n});\nreturn [{ json: { ...src, geminiImageBody: body } }];"
      },
      "id": "a4cf2730-9c45-4a67-b8f1-4fa6f0c1f227",
      "name": "Build Image Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/vinmedia-amazonlisting/locations/us-central1/publishers/google/models/gemini-2.5-flash-image:streamGenerateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiImageBody }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {}
          },
          "timeout": 60000
        }
      },
      "id": "87e12986-b838-4b14-9ffe-96a46b6557f0",
      "name": "Gemini Image-to-Image \u2014 Primary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        512
      ],
      "credentials": {
        "googleApi": {
          "id": "Cl6lSmyjRIoJGYPh",
          "name": "Google Service Account account"
        },
        "googleOAuth2Api": {
          "id": "D36j7dU8gbhmxwqu",
          "name": "Google account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cp1",
              "leftValue": "={{ !!($json.predictions?.[0]?.bytesBase64Encoded || $json.candidates?.[0]?.content?.parts?.some(p => p.inlineData?.data)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c7fb43ef-272d-456c-a0a1-6792682a7c97",
      "name": "Primary Model Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1552,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aiplatform.googleapis.com/v1/projects/vinmedia-amazonlisting/locations/global/publishers/google/models/gemini-2.5-flash-image:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Image Body').item.json.geminiImageBody }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {}
          },
          "timeout": 60000
        }
      },
      "id": "955f07aa-c10e-447e-a880-a38332689ab6",
      "name": "Gemini Image-to-Image \u2014 Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        688
      ],
      "credentials": {
        "googleApi": {
          "id": "Cl6lSmyjRIoJGYPh",
          "name": "Google Service Account account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const resp = items[0].json;\nconst src  = $('Build Image Body').item.json;\n\nconst prediction = resp.predictions?.[0];\nif (prediction?.bytesBase64Encoded) {\n  const bin = await this.helpers.prepareBinaryData(\n    Buffer.from(prediction.bytesBase64Encoded, 'base64'),\n    src.currentFileName || 'image.jpeg',\n    prediction.mimeType || 'image/jpeg'\n  );\n  return [{ json: { ...src, skipCurrent: false }, binary: { generatedImage: bin } }];\n}\n\nconst parts = resp.candidates?.[0]?.content?.parts || [];\nconst img   = parts.find(p => p.inlineData?.data);\nif (img) {\n  const bin = await this.helpers.prepareBinaryData(\n    Buffer.from(img.inlineData.data, 'base64'),\n    src.currentFileName || 'image.jpeg',\n    img.inlineData.mimeType || 'image/jpeg'\n  );\n  return [{ json: { ...src, skipCurrent: false }, binary: { generatedImage: bin } }];\n}\n\nconsole.log('No image returned for type:', src.currentType, '\u2014 skipping');\nconst nextIndex = (src.currentIndex || 0) + 1;\nconst nextItem  = src.queue?.[nextIndex];\nreturn [{ json: { ...src, skipCurrent: true, currentIndex: nextIndex, currentType: nextItem?.type || '', currentPrompt: nextItem?.prompt || '', currentFileName: nextItem?.fileName || '' } }];"
      },
      "id": "7d9694f6-e278-4c1a-afaf-7c3b73d7ae51",
      "name": "Decode Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "us1",
              "leftValue": "={{ $json.skipCurrent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67edd8a9-a7f1-461b-869b-c386a07f2976",
      "name": "Upload or Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        512
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "generatedImage",
        "name": "={{ $json.currentFileName || 'image.jpeg' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folderId }}",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "b307877e-2462-4eed-89f9-f4624f920319",
      "name": "Upload Image to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        368
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lkmD9weSI5xp2D6m",
          "name": "Vinmediaai-Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst uploadResult = items[0].json;\nconst prevState    = $('Build Image Body').item.json;\nconst nextIndex    = (prevState.currentIndex || 0) + 1;\nconst nextItem     = prevState.queue?.[nextIndex];\nconst links = [...(prevState.generatedLinks || []), {\n  label:  prevState.currentType,\n  name:   prevState.currentFileName,\n  fileId: uploadResult.id || ''\n}];\nreturn [{ json: {\n  ...prevState,\n  currentIndex:    nextIndex,\n  currentType:     nextItem?.type     || '',\n  currentPrompt:   nextItem?.prompt   || '',\n  currentFileName: nextItem?.fileName || '',\n  generatedLinks:  links\n}}];"
      },
      "id": "053ef42b-64df-4025-a51c-b32161210d0e",
      "name": "Advance Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst src       = $('Build Image Body').item.json;\nconst nextIndex = (src.currentIndex || 0) + 1;\nconst nextItem  = src.queue?.[nextIndex];\nreturn [{ json: {\n  ...src,\n  skipCurrent:     false,\n  currentIndex:    nextIndex,\n  currentType:     nextItem?.type     || '',\n  currentPrompt:   nextItem?.prompt   || '',\n  currentFileName: nextItem?.fileName || ''\n}}];"
      },
      "id": "939f9878-861c-4b54-b677-56e68ee167e9",
      "name": "Skip \u2014 Advance Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst src      = $input.first().json;\nconst folderId = $('More Images to Generate?').item.json.outputFolderId || $('More Images to Generate?').item.json.folderId;\ntry {\n  await this.helpers.request.call(this, {\n    method: 'POST',\n    url: `https://www.googleapis.com/drive/v3/files/${folderId}/permissions`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${$credentials?.googleDriveOAuth2Api?.accessToken || ''}` },\n    body: JSON.stringify({ role: 'reader', type: 'anyone' }),\n    json: false\n  });\n} catch(e) { console.log('Make folder public warning:', e.message); }\nreturn [{ json: { ...src } }];"
      },
      "id": "66a852cd-72b2-4dc0-99d7-ff1e118d44d6",
      "name": "Make Folder Public",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "folderLink",
              "value": "=https://drive.google.com/drive/folders/{{ $('More Images to Generate?').item.json.outputFolderId }}?usp=sharing",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "folderName",
              "value": "={{ $('More Images to Generate?').item.json.outputFolderId }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "toEmail",
              "value": "={{ $('Extract Inputs \u2014 Phase2').item.json.userEmail || $('Extract Inputs \u2014 Phase2').item.json.email }}",
              "type": "string"
            },
            {
              "id": "s4",
              "name": "productName",
              "value": "={{ $('Extract Inputs \u2014 Phase2').item.json.productName }}",
              "type": "string"
            },
            {
              "id": "s5",
              "name": "generatedLinks",
              "value": "={{ $json.generatedLinks || [] }}",
              "type": "array"
            },
            {
              "id": "s6",
              "name": "folderId",
              "value": "={{ $('More Images to Generate?').item.json.outputFolderId }}",
              "type": "string"
            },
            {
              "id": "s7",
              "name": "specificFolderLink",
              "value": "=https://drive.google.com/drive/folders/{{ $('More Images to Generate?').item.json.outputFolderId }}?usp=sharing",
              "type": "string"
            },
            {
              "id": "s8",
              "name": "jobId",
              "value": "={{ $('Generate JobId \u2014 Phase2').item.json.jobId || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6204bca1-934c-4648-b43b-6efa256156bf",
      "name": "Build Share Links",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL      = 'https://foogdpgrkiawdnfvhxbn.supabase.co';\nconst SUPABASE_ANON_KEY = 'sb_publishable_TrLnz3U1EjrLxZLlKsqqJg_zzxr8C8B';\n\nconst src   = items[0].json;\nconst jobId = src.jobId || $('Generate JobId \u2014 Phase2').item.json.jobId || '';\n\nconst resultJson = {\n  status:    'success',\n  driveLink: src.specificFolderLink || '',\n  images:    (src.generatedLinks || []).map(l => ({\n    label:        l.label ? (l.label.charAt(0).toUpperCase() + l.label.slice(1)) : 'Image',\n    name:         l.name  || 'image.jpg',\n    fileId:       l.fileId || '',\n    viewUrl:      l.fileId ? ('https://drive.google.com/file/d/' + l.fileId + '/view') : '',\n    downloadUrl:  l.fileId ? ('https://drive.google.com/uc?export=download&id=' + l.fileId) : '',\n    thumbnailUrl: l.fileId ? ('https://drive.google.com/thumbnail?id=' + l.fileId + '&sz=w400') : ''\n  }))\n};\n\nif (jobId) {\n  try {\n    await this.helpers.request.call(this, {\n      method: 'PATCH',\n      url: SUPABASE_URL + '/rest/v1/job_results?job_id=eq.' + encodeURIComponent(jobId),\n      headers: {\n        'apikey': SUPABASE_ANON_KEY,\n        'Authorization': 'Bearer ' + SUPABASE_ANON_KEY,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({\n        status:      'done',\n        result_json: resultJson,\n        updated_at:  new Date().toISOString()\n      }),\n      json: false\n    });\n  } catch(e) { console.log('Supabase update warn:', e.message); }\n}\n\nreturn [{ json: src }];"
      },
      "id": "50b9d27c-bded-4b7f-935e-7408e3760970",
      "name": "Write Generate Result to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        944
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amazon-listing-feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2c94edac-6ca1-4ecd-bbb0-3e50dc470bcd",
      "name": "Webhook \u2014 Feedback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        832
      ],
      "webhookId": "amazon-feedback-001"
    },
    {
      "parameters": {
        "jsCode": "\nconst SHEET_ID  = '17iyN3ZDFdaDKUTQWhkIfUGs2Dwy4cn7pIRj5rqcMLNg';\nconst API_KEY   = 'AIzaSyAHCBqWPZH6kXrYQnbwOjfCcDUjlVGtZC8';\nconst src = items[0].json;\n\nconst rating      = src.rating       || '';\nconst feedback    = src.feedback     || '';\nconst email       = src.userEmail    || src.email || '';\nconst category    = src.category     || '';\nconst subcategory = src.subcategory  || '';\nconst avatarId    = src.avatarId     || '';\nconst location    = src.locationVariant || '';\nconst productName = src.productName  || '';\nconst timestamp   = new Date().toISOString();\n\nconst row = [timestamp, email, rating, feedback, category, subcategory, avatarId, location, productName];\n\nconst url = `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/feedback:append?valueInputOption=RAW&key=${API_KEY}`;\n\ntry {\n  await this.helpers.request.call(this, {\n    method: 'POST', url,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ values: [row] }),\n    json: false\n  });\n} catch(e) { console.log('Feedback save warning:', e.message); }\n\nreturn [{ json: { status: 'feedback_saved', timestamp } }];\n"
      },
      "id": "d6355927-bcb7-49a3-a2d8-1d60ddf8ab2a",
      "name": "Save Feedback to Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        832
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'Feedback saved. Thank you!' }) }}",
        "options": {}
      },
      "id": "851e134b-7e3e-4e81-9966-8bd76881a241",
      "name": "Respond \u2014 Feedback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        128,
        832
      ]
    },
    {
      "parameters": {
        "path": "listing-job-status",
        "responseMode": "responseNode",
        "options": {},
        "httpMethod": "GET"
      },
      "id": "5c4de5e6-0aef-4e4a-ad36-ae456884546a",
      "name": "Webhook \u2014 Job Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        1152
      ],
      "webhookId": "listing-status-001"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL      = 'https://foogdpgrkiawdnfvhxbn.supabase.co';\nconst SUPABASE_ANON_KEY = 'sb_publishable_TrLnz3U1EjrLxZLlKsqqJg_zzxr8C8B';\n\n// GET webhook passes query params in $json.query\nconst jobId = items[0].json.query?.jobId\n           || items[0].json.jobId\n           || items[0].json.body?.jobId\n           || '';\n\nif (!jobId) {\n  return [{ json: { status: 'not_found', message: 'No jobId provided' } }];\n}\n\nlet result = { status: 'not_found' };\n\ntry {\n  const resp = await this.helpers.request.call(this, {\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/job_results?job_id=eq.' + encodeURIComponent(jobId) + '&select=status,result_json',\n    headers: {\n      'apikey': SUPABASE_ANON_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_ANON_KEY,\n      'Accept': 'application/json'\n    },\n    json: false\n  });\n\n  const rows = typeof resp === 'string' ? JSON.parse(resp) : resp;\n  if (Array.isArray(rows) && rows.length > 0) {\n    const row  = rows[0];\n    const raw = row.result_json || {};\n    const data = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    // Spread data first, then force DB status last so result_json's inner status doesn't overwrite\n    result = { ...data, status: row.status };\n  }\n} catch(e) {\n  result = { status: 'failed', message: e.message };\n}\n\nreturn [{ json: result }];"
      },
      "id": "c97bd29c-847f-446e-9a82-8bef7e217154",
      "name": "Read Job Status from Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1152
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "8593b582-dae6-403e-8d9c-235a7d9fbfe2",
      "name": "Respond \u2014 Job Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        320,
        1152
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook \u2014 Analyse": {
      "main": [
        [
          {
            "node": "Extract Inputs \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Inputs \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Generate JobId \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JobId \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Respond Early \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Early \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Prepare Binary \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Binary \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Upload Original \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Original \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Create Folder \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Read Sheet Config \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet Config \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Build Gemini Payload \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Payload \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Gemini Vision \u2014 Phase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision \u2014 Phase1": {
      "main": [
        [
          {
            "node": "Parse & Return Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Return Prompts": {
      "main": [
        [
          {
            "node": "Write Analyse Result to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook \u2014 Generate": {
      "main": [
        [
          {
            "node": "Extract Inputs \u2014 Phase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Inputs \u2014 Phase2": {
      "main": [
        [
          {
            "node": "Generate JobId \u2014 Phase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JobId \u2014 Phase2": {
      "main": [
        [
          {
            "node": "Respond Early \u2014 Phase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Early \u2014 Phase2": {
      "main": [
        [
          {
            "node": "Build Generation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Generation Payload": {
      "main": [
        [
          {
            "node": "More Images to Generate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Images to Generate?": {
      "main": [
        [
          {
            "node": "Build Image Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make Folder Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Body": {
      "main": [
        [
          {
            "node": "Gemini Image-to-Image \u2014 Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Image-to-Image \u2014 Primary": {
      "main": [
        [
          {
            "node": "Primary Model Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Model Succeeded?": {
      "main": [
        [
          {
            "node": "Decode Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Image-to-Image \u2014 Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Image-to-Image \u2014 Fallback": {
      "main": [
        [
          {
            "node": "Decode Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Image": {
      "main": [
        [
          {
            "node": "Upload or Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload or Skip?": {
      "main": [
        [
          {
            "node": "Skip \u2014 Advance Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Drive": {
      "main": [
        [
          {
            "node": "Advance Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance Queue": {
      "main": [
        [
          {
            "node": "More Images to Generate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip \u2014 Advance Queue": {
      "main": [
        [
          {
            "node": "More Images to Generate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Folder Public": {
      "main": [
        [
          {
            "node": "Build Share Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Share Links": {
      "main": [
        [
          {
            "node": "Write Generate Result to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook \u2014 Feedback": {
      "main": [
        [
          {
            "node": "Save Feedback to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Feedback to Sheet": {
      "main": [
        [
          {
            "node": "Respond \u2014 Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook \u2014 Job Status": {
      "main": [
        [
          {
            "node": "Read Job Status from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Job Status from Supabase": {
      "main": [
        [
          {
            "node": "Respond \u2014 Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "633e46b6-e59e-422e-b88f-6713325eab61",
  "meta": {
    "instanceId": "3261420226c4924ee327927c77661db1277ac1907253f9c92ef332b763d43451"
  },
  "id": "qB0O7dN2ddJnthln",
  "tags": []
}
